<a href="https://colab.research.google.com/github/MekdiYilma/HumanitarianCrisisPrediction/blob/main/notebooks/bq_connection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [4]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [5]:
%%bigquery --project asana-bq yemen_df
SELECT * 
FROM `gdelt-bq.gdeltv2.events` 
WHERE ActionGeo_CountryCode = 'YM'
LIMIT 20000

In [6]:
yemen_df

       GLOBALEVENTID  ...                                          SOURCEURL
0          927505667  ...  https://aawsat.com/home/article/2318236/%D8%A7...
1          927453145  ...               https://hournews.net/news-101869.htm
2          927496050  ...  https://www.al-madina.com/article/688409/%D9%8...
3          927271488  ...         https://www.okaz.com.sa/news/local/2027016
4          927271595  ...         https://www.okaz.com.sa/news/local/2027007
...              ...  ...                                                ...
19995      759102329  ...                    http://almoslim.net/news/288359
19996      758976345  ...                  http://www.alalam.ir/news/3580726
19997      758906668  ...  https://www.albayan.ae/one-world/arabs/2018-05...
19998      758930023  ...  http://www.barakish.net/news02.aspx?cat=12&sub...
19999      758929875  ...  http://www.barakish.net/news02.aspx?cat=12&sub...

[20000 rows x 61 columns]

In [4]:
from google.colab import files
yemen_df.to_csv('yemen_batch1.csv') 
files.download('yemen_batch1.csv')

In [5]:
# instead of re-running the query for every load, import the csv saved df locally
from google.colab import files
uploaded = files.upload()

Saving yemen_batch1.csv to yemen_batch1.csv

In [10]:
import io
yemen_df = pd.read_csv(io.BytesIO(uploaded['yemen_batch1.csv']),index_col=[0])

In [11]:
yemen_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20000 entries, 0 to 19999
Data columns (total 61 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GLOBALEVENTID          20000 non-null  int64
 1   SQLDATE                20000 non-null  int64
 2   MonthYear              20000 non-null  int64
 3   Year                   20000 non-null  int64
 4   FractionDate           20000 non-null  float64
 5   Actor1Code             18266 non-null  object
 6   Actor1Name             18266 non-null  object
 7   Actor1CountryCode      10817 non-null  object
 8   Actor1KnownGroupCode   830 non-null    object
 9   Actor1EthnicCode       35 non-null     object
 10  Actor1Religion1Code    308 non-null    object
 11  Actor1Religion2Code    104 non-null    object
 12  Actor1Type1Code        9313 non-null   object
 13  Actor1Type2Code        699 non-null    object
 14  Actor1Type3Code        24 non-null     object
 15  Actor2Code             14777 non-null  object
 16  Actor2Name             14777 non-null  object
 17  Actor2CountryCode      9204 non-null   object
 18  Actor2KnownGroupCode   489 non-null    object
 19  Actor2EthnicCode       25 non-null     object
 20  Actor2Religion1Code    261 non-null    object
 21  Actor2Religion2Code    106 non-null    object
 22  Actor2Type1Code        7045 non-null   object
 23  Actor2Type2Code        419 non-null    object
 24  Actor2Type3Code        12 non-null     object
 25  IsRootEvent            20000 non-null  int64
 26  EventCode              20000 non-null  int64
 27  EventBaseCode          20000 non-null  int64
 28  EventRootCode          20000 non-null  int64
 29  QuadClass              20000 non-null  int64
 30  GoldsteinScale         20000 non-null  float64
 31  NumMentions            20000 non-null  int64
 32  NumSources             20000 non-null  int64
 33  NumArticles            20000 non-null  int64
 34  AvgTone                20000 non-null  float64
 35  Actor1Geo_Type         20000 non-null  int64
 36  Actor1Geo_FullName     18266 non-null  object
 37  Actor1Geo_CountryCode  18266 non-null  object
 38  Actor1Geo_ADM1Code     18266 non-null  object
 39  Actor1Geo_ADM2Code     11038 non-null  object
 40  Actor1Geo_Lat          18266 non-null  float64
 41  Actor1Geo_Long         18266 non-null  float64
 42  Actor1Geo_FeatureID    18266 non-null  object
 43  Actor2Geo_Type         20000 non-null  int64
 44  Actor2Geo_FullName     14777 non-null  object
 45  Actor2Geo_CountryCode  14777 non-null  object
 46  Actor2Geo_ADM1Code     14777 non-null  object
 47  Actor2Geo_ADM2Code     8745 non-null   object
 48  Actor2Geo_Lat          14777 non-null  float64
 49  Actor2Geo_Long         14777 non-null  float64
 50  Actor2Geo_FeatureID    14777 non-null  object
 51  ActionGeo_Type         20000 non-null  int64
 52  ActionGeo_FullName     20000 non-null  object
 53  ActionGeo_CountryCode  20000 non-null  object
 54  ActionGeo_ADM1Code     20000 non-null  object
 55  ActionGeo_ADM2Code     12046 non-null  float64
 56  ActionGeo_Lat          20000 non-null  float64
 57  ActionGeo_Long         20000 non-null  float64
 58  ActionGeo_FeatureID    20000 non-null  object
 59  DATEADDED              20000 non-null  int64
 60  SOURCEURL              20000 non-null  object
dtypes: float64(10), int64(16), object(35)
memory usage: 9.5+ MB

In [12]:
yemen_df.columns

Index(['GLOBALEVENTID', 'SQLDATE', 'MonthYear', 'Year', 'FractionDate',
       'Actor1Code', 'Actor1Name', 'Actor1CountryCode', 'Actor1KnownGroupCode',
       'Actor1EthnicCode', 'Actor1Religion1Code', 'Actor1Religion2Code',
       'Actor1Type1Code', 'Actor1Type2Code', 'Actor1Type3Code', 'Actor2Code',
       'Actor2Name', 'Actor2CountryCode', 'Actor2KnownGroupCode',
       'Actor2EthnicCode', 'Actor2Religion1Code', 'Actor2Religion2Code',
       'Actor2Type1Code', 'Actor2Type2Code', 'Actor2Type3Code', 'IsRootEvent',
       'EventCode', 'EventBaseCode', 'EventRootCode', 'QuadClass',
       'GoldsteinScale', 'NumMentions', 'NumSources', 'NumArticles', 'AvgTone',
       'Actor1Geo_Type', 'Actor1Geo_FullName', 'Actor1Geo_CountryCode',
       'Actor1Geo_ADM1Code', 'Actor1Geo_ADM2Code', 'Actor1Geo_Lat',
       'Actor1Geo_Long', 'Actor1Geo_FeatureID', 'Actor2Geo_Type',
       'Actor2Geo_FullName', 'Actor2Geo_CountryCode', 'Actor2Geo_ADM1Code',
       'Actor2Geo_ADM2Code', 'Actor2Geo_Lat', 'Actor2Geo_Long',
       'Actor2Geo_FeatureID', 'ActionGeo_Type', 'ActionGeo_FullName',
       'ActionGeo_CountryCode', 'ActionGeo_ADM1Code', 'ActionGeo_ADM2Code',
       'ActionGeo_Lat', 'ActionGeo_Long', 'ActionGeo_FeatureID', 'DATEADDED',
       'SOURCEURL'],
      dtype='object')

In [16]:
features = ['SQLDATE', 'MonthYear', 'Year', 'Actor1Code', 'Actor1Name', 'Actor1CountryCode', 
       'Actor1KnownGroupCode', 'Actor1EthnicCode', 'Actor1Religion1Code', 
       'Actor1Type1Code',  'Actor2Code',
       'Actor2Name', 'Actor2CountryCode', 'Actor2KnownGroupCode',
       'Actor2EthnicCode', 'Actor2Religion1Code', 
       'Actor2Type1Code',  'IsRootEvent',
       'EventCode',  'QuadClass',
       'GoldsteinScale', 'NumMentions', 'NumSources', 'NumArticles', 'AvgTone',
       'Actor1Geo_Type', 'Actor1Geo_CountryCode',
       'Actor1Geo_ADM1Code',   'Actor2Geo_Type',
       'Actor2Geo_CountryCode', 'Actor2Geo_ADM1Code',
        'ActionGeo_Type', 
       'ActionGeo_CountryCode', 'ActionGeo_ADM1Code', 
        'DATEADDED','SOURCEURL']

In [17]:
len(yemen_df.columns), len(features)

(61, 36)

In [18]:
yemen_df.loc[:,['EventCode']]

       EventCode
0            130
1             42
2             51
3             51
4             20
...          ...
19995        195
19996        138
19997        190
19998         51
19999         10

[20000 rows x 1 columns]

In [54]:
from google.colab import files
uploaded = files.upload()

Saving event_code_lookup.csv to event_code_lookup (1).csv

In [55]:
uploaded

{'event_code_lookup.csv': b'\xef\xbb\xbf01      MAKE PUBLIC STATEMENT\r\n"010     Make statement, not specified below"\r\n011     Decline comment\r\n012     Make pessimistic comment\r\n013     Make optimistic comment\r\n014     Consider policy option\r\n015     Acknowledge or claim responsibility\r\n016     Deny responsibility\r\n017     Engage in symbolic act\r\n018     Make empathetic comment\r\n019     Express accord\r\n02      APPEAL\r\n"020     Appeal, not specified below"\r\n"021     Appeal for material cooperation, not specified below"\r\n0211    Appeal for economic cooperation\r\n0212    Appeal for military cooperation\r\n0213    Appeal for judicial cooperation\r\n0214    Appeal for intelligence\r\n"022     Appeal for diplomatic cooperation, such as policy support"\r\n"023     Appeal for aid, not specified below"\r\n0231    Appeal for economic aid\r\n0232    Appeal for military aid\r\n0233    Appeal for humanitarian aid\r\n0234    Appeal for military protection or peacekeeping\r\n"024     Appeal for political reform, not specified below"\r\n0241    Appeal for change in leadership\r\n0242    Appeal for policy change\r\n0243    Appeal for rights\r\n"0244    Appeal for change in institutions, regime"\r\n025     Appeal to yield\r\n0251    Appeal for easing of administrative sanctions\r\n0252    Appeal for easing of popular dissent\r\n0253    Appeal for release of persons or property\r\n"0254    Appeal for easing of economic sanctions, boycott, or embargo"\r\n0255    Appeal for target to allow international involvement (non-mediation)\r\n0256    Appeal for de-escalation of military engagement\r\n026     Appeal to others to meet or negotiate\r\n027     Appeal to others to settle dispute\r\n028     Appeal to others to engage in or accept mediation\r\n03      EXPRESS INTENT TO COOPERATE\r\n"030     Express intent to cooperate, not specified below"\r\n"031     Express intent to engage in material cooperation,  not specified below"\r\n0311    Express intent to cooperate economically\r\n0312    Express intent to cooperate militarily\r\n0313    Express intent to cooperate on judicial matters\r\n0314    Express intent to cooperate on intelligence\r\n032     Express intent to provide diplomatic cooperation such as policy support\r\n"033     Express intent to provide matyerial aid, not specified below"\r\n0331    Express intent to provide economic aid\r\n0332    Express intent to provide military aid\r\n0333    Express intent to provide humanitarian aid\r\n0334    Express intent to provide military protection or peacekeeping\r\n"034     Express intent to institute political reform, not specified below"\r\n0341    Express intent to change leadership\r\n0342    Express intent to change policy\r\n0343    Express intent to provide rights\r\n"0344    Express intent to change institutions, regime"\r\n"035     Express intent to yield, not specified below"\r\n0351    Express intent to ease administrative sanctions\r\n0352    Express intent to ease popular dissent\r\n0353    Express intent to release persons or property\r\n"0354    Express intent to ease economic sanctions, boycott, or embargo"\r\n0355    Express intent allow international involvement (not mediation)\r\n0356    Express intent to de-escalate military engagement \r\n036     Express intent to meet or negotiate\r\n037     Express intent to settle dispute\r\n038     Express intent to accept mediation\r\n039     Express intent to mediate\r\n04      CONSULT\r\n"040     Consult, not specified below"\r\n041     Discuss by telephone\r\n042     Make a visit\r\n043     Host a visit\r\n044     Meet at a \xc3\x83\xe2\x80\x99hird\xc3\x83\xe2\x80\x9clocation\r\n045     Mediate\r\n046     Engage in negotiation\r\n05      ENGAGE IN DIPLOMATIC COOPERATION\r\n"050     Engage in diplomatic cooperation, not specified below"\r\n051     Praise or endorse\r\n052     Defend verbally\r\n053     Rally support on behalf of\r\n054     Grant diplomatic recognition\r\n055     Apologize\r\n056     Forgive\r\n057     Sign formal agreement\r\n06      ENGAGE IN MATERIAL COOPERATION\r\n"060     Engage in material cooperation, not specified below"\r\n061     Cooperate economically\r\n062     Cooperate militarily\r\n063     Engage in judicial cooperation\r\n064     Share intelligence or information\r\n07      PROVIDE AID\r\n"070     Provide aid, not specified below"\r\n071     Provide economic aid\r\n072     Provide military aid\r\n073     Provide humanitarian aid\r\n074     Provide military protection or peacekeeping\r\n075     Grant asylum\r\n08      YIELD\r\n"080     Yield, not specified below "\r\n"081     Ease administrative sanctions, not specified below"\r\n0811    Ease restrictions on political freedoms\r\n0812    Ease ban on political parties or politicians\r\n0813    Ease curfew\r\n0814    Ease state of emergency or martial law\r\n082     Ease political dissent \r\n083     Accede to requests or demands for political reform not specified below\r\n0831    Accede to demands for change in leadership\r\n0832    Accede to demands for change in policy\r\n0833    Accede to demands for rights\r\n"0834    Accede to demands for change in institutions, regime"\r\n"084     Return, release, not specified below"\r\n"0841    Return, release person(s)"\r\n"0842    Return, release property"\r\n"085     Ease economic sanctions, boycott, embargo"\r\n086     Allow international involvement not specified below\r\n0861    Receive deployment of peacekeepers\r\n0862    Receive inspectors\r\n0863    Allow delivery of humanitarian aid\r\n087     De-escalate military engagement\r\n"0871    Declare truce, ceasefire"\r\n0872    Ease military blockade\r\n0873    Demobilize armed forces\r\n0874    Retreat or surrender militarily\r\n09      INVESTIGATE\r\n"090     Investigate, not specified below"\r\n"091     Investigate crime, corruption"\r\n092     Investigate human rights abuses\r\n093     Investigate military action\r\n094     Investigate war crimes\r\n10      DEMAND\r\n"100     Demand, not specified below"\r\n"101     Demand information, investigation"\r\n1011    Demand economic cooperation\r\n1012    Demand military cooperation\r\n1013    Demand judicial cooperation\r\n1014    Demand intelligence cooperation\r\n102     Demand policy support\r\n"103     Demand aid, protection, or peacekeeping"\r\n1031    Demand economic aid\r\n1032    Demand military aid\r\n1033    Demand humanitarian aid\r\n1034    Demand military protection or peacekeeping\r\n"104     Demand political reform, not specified below"\r\n1041    Demand change in leadership\r\n1042    Demand policy change\r\n1043    Demand rights\r\n"1044    Demand change in institutions, regime"\r\n105     Demand mediation\r\n1051    Demand easing of administrative sanctions\r\n1052    Demand easing of political dissent\r\n1053    Demand release of persons or property\r\n"1054    Demand easing of economic sanctions, boycott, or embargo"\r\n1055    Demand that target allows international involvement (non-mediation)\r\n1056    Demand de-escalation of military engagement106:[-5.0] Demand withdrawal\r\n107     Demand ceasefire\r\n"108     Demand meeting, negotiation"\r\n11      DISAPPROVE\r\n"110     Disapprove, not specified below"\r\n111     Criticize or denounce \r\n"112     Accuse, not specified below"\r\n"1121    Accuse of crime, corruption"\r\n1122    Accuse of human rights abuses\r\n1123    Accuse of aggression\r\n1124    Accuse of war crimes\r\n"1125    Accuse of espionage, treason"\r\n113     Rally opposition against\r\n114     Complain officially \r\n115     Bring lawsuit against \r\n116     Find guilty or liable (legally)\r\n12      REJECT\r\n"120     Reject, not specified below"\r\n121     Reject material cooperation\r\n1211    Reject economic cooperation\r\n1212    Reject military cooperation\r\n"122     Reject request or demand for material aid, not specified below"\r\n1221    Reject request for economic aid\r\n1222    Reject request for military aid\r\n1223    Reject request for humanitarian aid\r\n1224    Reject request for military protection or peacekeeping\r\n"123     Reject request or demand for political reform, not specified below"\r\n1231    Reject request for change in leadership\r\n1232    Reject request for policy change\r\n1233    Reject request for rights\r\n"1234    Reject request for change in institutions, regime"\r\n"124     Refuse to yield, not specified below"\r\n1241    Refuse to ease administrative sanctions\r\n1242    Refuse to ease popular dissent\r\n1243    Refuse to release persons or property\r\n"1244    Refuse to ease economic sanctions, boycott, or embargo"\r\n1245    Refuse to allow international involvement (non mediation)\r\n1246    Refuse to de-escalate military engagement\r\n"125     Reject proposal to meet, discuss, or negotiate"\r\n126     Reject mediation\r\n"127     Reject plan, agreement to settle dispute"\r\n"128     Defy norms, law"\r\n129     Veto\r\n13      THREATEN\r\n"130     Threaten, not specified below"\r\n"131     Threaten non-force, not specified below"\r\n1311    Threaten to reduce or stop aid\r\n"1312    Threaten to boycott, embargo, or sanction"\r\n1313    Threaten to reduce or break relations\r\n"132     Threaten with administrative sanctions, not specified below"\r\n1321    Threaten to impose restrictions on political freedoms \r\n1322    Threaten to ban political parties or politicians\r\n1323    Threaten to impose curfew\r\n1324    Threaten to impose state of emergency or martial law\r\n"133     Threaten political dissent, protest"\r\n134     Threaten to halt negotiations\r\n135     Threaten to halt mediation\r\n136     Threaten to halt international involvement (non-mediation)\r\n137     Threaten with violent repression\r\n"138     Threaten to use military force, not specified below"\r\n1381    Threaten blockade\r\n1382    Threaten occupation \r\n1383    Threaten unconventional violence \r\n1384    Threaten conventional attack  \r\n1385    Threaten attack with WMD\r\n139     Give ultimatum\r\n14      PROTEST\r\n"140     Engage in political dissent, not specified below"\r\n141     Demonstrate or rally\r\n1411    Demonstrate for leadership change\r\n1412    Demonstrate for policy change\r\n1413    Demonstrate for rights\r\n"1414    Demonstrate for change in institutions, regime"\r\n"142     Conduct hunger strike, not specified below"\r\n1421    Conduct hunger strike for leadership change\r\n1422    Conduct hunger strike for policy change\r\n1423    Conduct hunger strike for rights\r\n"1424    Conduct hunger strike for change in institutions, regime "\r\n"143     Conduct strike or boycott, not specified below"\r\n1431    Conduct strike or boycott for leadership change  \r\n1432    Conduct strike or boycott for policy change\r\n1433    Conduct strike or boycott for rights\r\n"1434    Conduct strike or boycott for change in institutions, regime"\r\n"144     Obstruct passage, block"\r\n1441    Obstruct passage to demand leadership change \r\n1442    Obstruct passage to demand policy change\r\n1443    Obstruct passage to demand rights\r\n"1444    Obstruct passage to demand change in institutions, regime"\r\n"145     Protest violently, riot"\r\n1451    Engage in violent protest for leadership change  \r\n1452    Engage in violent protest for policy change\r\n1453    Engage in violent protest for rights\r\n"1454    Engage in violent protest for  change in institutions, regime"\r\n15      EXHIBIT FORCE POSTURE\r\n"150     Demonstrate military or police power, not specified below"\r\n151     Increase police alert status\r\n152     Increase military alert status\r\n153     Mobilize or increase police power\r\n154     Mobilize or increase armed forces \r\n16      REDUCE RELATIONS\r\n"160     Reduce relations, not specified below"\r\n161     Reduce or break diplomatic relations\r\n"162     Reduce or stop aid, not specified below"\r\n1621    Reduce or stop economic assistance\r\n1622    Reduce or stop military assistance\r\n1623    Reduce or stop humanitarian assistance\r\n"163     Impose embargo, boycott, or sanctions"\r\n164     Halt negotiations\r\n165     Halt mediation\r\n"166     Expel or withdraw, not specified below"\r\n1661    Expel or withdraw peacekeepers\r\n"1662    Expel or withdraw inspectors, observers"\r\n1663    Expel or withdraw aid agencies\r\n17      COERCE\r\n"170     Coerce, not specified below "\r\n"171     Seize or damage property, not specified below"\r\n1711    Confiscate property\r\n1712    Destroy property\r\n"172     Impose administrative sanctions, not specified below"\r\n1721    Impose restrictions on political freedoms  \r\n1722    Ban political parties or politicians\r\n1723    Impose curfew\r\n1724    Impose state of emergency or martial law\r\n"173     Arrest, detain, or charge with legal action "\r\n174     Expel or deport individuals\r\n175     Use tactics of violent repression  \r\n18      ASSAULT\r\n"180     Use unconventional violence, not specified below"\r\n"181     Abduct, hijack, or take hostage "\r\n"182     Physically assault, not specified below"\r\n1821    Sexually assault\r\n1822    Torture\r\n1823    Kill by physical assault\r\n"183     Conduct suicide, car, or other non-military bombing, not spec below"\r\n1831    Carry out suicide bombing\r\n1832    Carry out car bombing\r\n1833    Carry out roadside bombing \r\n184     Use as human shield \r\n185     Attempt to assassinate\r\n186     Assassinate \r\n19      FIGHT\r\n"190     Use conventional military force, not specified below"\r\n"191     Impose blockade, restrict movement "\r\n192     Occupy territory\r\n193     Fight with small arms and light weapons\r\n194     Fight with artillery and tanks\r\n195     Employ aerial weapons\r\n196     Violate ceasefire \r\n20      USE UNCONVENTIONAL MASS VIOLENCE\r\n"200     Use unconventional mass violence, not specified below"\r\n201     Engage in mass expulsion\r\n202     Engage in mass killings\r\n203     Engage in ethnic cleansing\r\n"204     Use weapons of mass destruction, not specified below"\r\n"2041    Use chemical, biological, or radiologicalweapons"\r\n2042    Detonate nuclear weapons'}

In [69]:
import io
event_code_lookup = pd.read_csv(io.BytesIO(uploaded['event_code_lookup.csv']),header=None, names=['Event'])

In [70]:
event_code_lookup

                                                 Event
0                        01      MAKE PUBLIC STATEMENT
1          010     Make statement, not specified below
2                              011     Decline comment
3                     012     Make pessimistic comment
4                      013     Make optimistic comment
..                                                 ...
305                    202     Engage in mass killings
306                 203     Engage in ethnic cleansing
307  204     Use weapons of mass destruction, not s...
308  2041    Use chemical, biological, or radiologi...
309                   2042    Detonate nuclear weapons

[310 rows x 1 columns]

In [67]:
event_code_lookup.iloc[52,:][0].split(' ', 1)[1][4:]

'Express intent to institute political reform, not specified below'

In [85]:
event_code_lookup['EventCode'] = event_code_lookup.Event.str.split(' ', n=1, expand=True)[0]
event_code_lookup['EventName'] = event_code_lookup.Event.str.split(' ', n=1, expand=True)[1].str.slice(start=4)

In [86]:
event_code_lookup.head()

                                         Event  ...                            EventName
0                01      MAKE PUBLIC STATEMENT  ...                MAKE PUBLIC STATEMENT
1  010     Make statement, not specified below  ...  Make statement, not specified below
2                      011     Decline comment  ...                      Decline comment
3             012     Make pessimistic comment  ...             Make pessimistic comment
4              013     Make optimistic comment  ...              Make optimistic comment

[5 rows x 3 columns]

In [107]:
event_code_lookup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Event      310 non-null    object
 1   EventCode  310 non-null    object
 2   EventName  310 non-null    object
dtypes: object(3)
memory usage: 7.4+ KB

In [88]:
yemen = yemen_df[features]
yemen

        SQLDATE  ...                                          SOURCEURL
0      20200605  ...  https://aawsat.com/home/article/2318236/%D8%A7...
1      20200604  ...               https://hournews.net/news-101869.htm
2      20200604  ...  https://www.al-madina.com/article/688409/%D9%8...
3      20200604  ...         https://www.okaz.com.sa/news/local/2027016
4      20200604  ...         https://www.okaz.com.sa/news/local/2027007
...         ...  ...                                                ...
19995  20200408  ...  https://english.alarabiya.net/en/coronavirus/2...
19996  20200408  ...  https://www.upi.com/Top_News/World-News/2020/0...
19997  20200409  ...  https://english.alarabiya.net/en/coronavirus/2...
19998  20200409  ...  https://www.dw.com/en/saudi-led-coalition-decl...
19999  20200409  ...  https://english.alarabiya.net/en/coronavirus/2...

[20000 rows x 47 columns]

In [92]:
yemen.SQLDATE = pd.to_datetime(yemen.SQLDATE, format='%Y%m%d', errors='ignore')

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [105]:
yemen.DATEADDED = pd.to_datetime(yemen.DATEADDED,  format='%Y%m%d%H%M%S', errors='ignore')

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value